* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a {
    text-decoration: none;
}

// img {
//     width: 100%;
// }

.site {
    font-family: 'Jost', sans-serif;
    font-family: 'DM Serif Display', serif;
}

.center {
    padding-left: calc(50% - (1200px / 2));
    padding-right: calc(50% - (1200px / 2));
}

.top-header {
    padding-top: 53px;
    padding-bottom: 56px;

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__menu {
        display: flex;
        gap: 25px;
    }

    &__link {
        color: #292F36;
        text-align: center;
        font-family: Jost;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 125%;

        &:hover {
            color: #CDA274;
        }
    }
}

.banner {
    &__wrapper {
        background: url(../img/banner.png), lightgray 50% / cover no-repeat;
        background-position: center center;
        border-radius: 10%;
        padding-top: 208px;
        padding-bottom: 208px;
        padding-left: 52px;

    }

    &__info {
        width: 434px;
    }

    &__title {
        margin-bottom: 18px;
        color: #292F36;
        font-family: DM Serif Display;
        font-size: 65px;
        font-style: normal;
        font-weight: 400;
        line-height: 125%;
        /* 81.25px */
    }

    &__link {
        width: 240px;
        display: block;
        color: #FFF;
        text-align: center;
        font-family: Jost;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 125%;
        letter-spacing: 0.36px;
        margin-top: 21px;
        padding: 26px 49px 26px 48px;
        border-radius: 18px;
        background: #292F36;
        box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);

        & svg {
            margin-left: 10px;
        }

        &:hover {
            background: #CDA274;
        }

        &:hover path {
            stroke: #292F36;
        }
    }
}

.text {
    text-align: center;
    color: #4D5053;
    font-family: Jost;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 33px */
    letter-spacing: 0.22px;
}

.subtitle {
    color: #292F36;
    text-align: center;
    font-family: DM Serif Display;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    /* 62.5px */
    letter-spacing: 1px;
}

.project {
    &__header {
        padding-top: 96px;
        padding-bottom: 93px;
    }

    &__text {
        text-align: center;
    }
}

.content {
    padding-bottom: 96px;

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 104px;
        row-gap: 56px;
    }

    &__flex {
        padding-top: 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.counter {
    background: #F4F0EC;
    ;
    padding-top: 151px;
    padding-bottom: 151px;

    &__flex {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        text-align: center;
    }

    &__heading {
        color: #CDA274;
        font-family: DM Serif Display;
        font-size: 85px;
        font-style: normal;
        font-weight: 400;
        line-height: 125%;
        /* 106.25px */
        letter-spacing: 1.7px;
    }
}

.blog-header {
    padding-top: 96px;
    padding-bottom: 52px;
}

.blog {
    padding-bottom: 96px;

    &__flex {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(382px, 1fr));
        column-gap: 27px;
    }

    &__card {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 62px;
        border: 1px solid #E7E7E7;
        box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
        padding: 21px;
    }

    &__img {

        border-radius: 62px 62px 0px 0
    }

    &__link {
        position: absolute;
        left: 40px;
        bottom: 210px;
        color: #4D5053;
        font-family: Jost;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        /* 24px */
        letter-spacing: 0.16px;
        text-transform: capitalize;
        padding: 6px;
        border-radius: 8px 8px 8px 0px;
        background: #FFF;
    }

    &__info {
        display: flex;
        align-items: end;
    }

    &__heading {
        margin-top: 21px;
        color: #292F36;
        font-family: DM Serif Display;
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: 125%;
        /* 31.25px */
        letter-spacing: 0.5px;
    }

    &__text {
        margin-top: 30px;
        color: #4D5053;
        font-family: Jost;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        /* 24px */
        letter-spacing: 0.16px;
        text-transform: capitalize;
    }
}

.footer {
    padding-bottom: 134px;

    &__flex {
        display: flex;
        justify-content: space-around;
        gap: 101px;
    }

    &__link {
        text-align: start;
        margin-top: 18px;

        &:hover {
            color: #CDA274;
        }
    }

    &__text {
        text-align: start;
        margin-top: 18px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__subscribe {
        margin-top: 30px;

        & svg {
            margin-right: 54px;
        }
    }
}

.bread-crumbs {

    background: url("../img/background_blog.jpg") no-repeat;
    background-position: center center;
    // padding-bottom: 200px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-height: 500px;
    margin-bottom: 200px;

    &__info {
        border-radius: 15px 15px 0 0;
        background: #fff;
        padding: 41px 78px;
        border: 1px solid #fff;
    }
}

.latest {

    &__title {
        text-align: start;
        margin-bottom: 27px;
    }

    &__info {
        display: flex;
        gap: 60px;
        justify-content: space-around;
        align-items: center;
    }

    &__img {
        border-radius: 65px;
    }

    &__subtitle {
        margin-bottom: 22px;
        color: #292F36;
        font-family: DM Serif Display;
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: 125%;
        /* 31.25px */
        letter-spacing: 0.5px;
    }

    &__text {
        text-align: start;
        margin-bottom: 41px;
    }

    &__flex {
        display: flex;
        align-items: end;
    }
}

.news {
    padding-top: 150px;
    padding-bottom: 55px;

    &__title {
        text-align: start;
        margin-bottom: 30px;

    }

    &__flex {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(305px, 1fr));
        column-gap: 28px;
        row-gap: 30px;
    }

    &__card {
        position: relative;
        border-radius: 62px;
        border: 1px solid #E7E7E7;
        box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
        padding: 21px;

        &:hover {
            background-color: #F4F0EC;
        }

        & a svg circle {
            fill: white;
        }
    }



    &__img {

        border-radius: 62px 62px 0px 0
    }

    &__link {
        position: absolute;
        left: 46px;
        top: 248px;
        border-radius: 8px 8px 8px 0px;
        background: #FFF;
        padding: 8px 10px;
        color: #4D5053;
        font-family: Jost;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        /* 24px */
        letter-spacing: 0.16px;
        text-transform: capitalize;
    }

    &__info {
        display: flex;
        align-items: end;
    }

    &__heading {
        margin-top: 21px;
        margin-bottom: 30px;
        color: #292F36;
        font-family: DM Serif Display;
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: 125%;
        /* 31.25px */
        letter-spacing: 0.5px;
    }

    &__text {
        color: #4D5053;
        font-family: Jost;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        /* 24px */
        letter-spacing: 0.16px;
        text-transform: capitalize;
    }
}

.blog-background {
    background: url('../img/back_details.jpg'), no-repeat;
    background-position: center center;
    padding-bottom: 350px;
}

.details {
    &__flex {
        display: flex;
        align-items: flex-start;
        padding-top: 150px;
        gap: 52px;

    }

    &__content {
        width: 75%;
    }

    &__tags {
        width: 25%;
    }
}

.article {
    text-align: start;

    &__heading {
        color: #292F36;
        font-family: DM Serif Display;
        font-size: 50px;
        font-style: normal;
        font-weight: 400;
        line-height: 125%;
        /* 62.5px */
        letter-spacing: 1px;
        margin-bottom: 11px;
    }

    &__img {
        border-radius: 50px;
        margin-top: 11px;
        margin-bottom: 48px;
    }

    &__text {
        color: #4D5053;
        font-family: Jost;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        /* 24px */
        letter-spacing: 0.16px;
        text-transform: capitalize;
        margin-bottom: 48px;
    }

    &__content {
        color: #4D5053;
        font-family: Jost;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        /* 33px */
        letter-spacing: 0.22px;
        margin-bottom: 48px;
    }
}

.tag {
    &__heading {
        color: #292F36;
        font-family: DM Serif Display;
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: 125%;
        /* 31.25px */
        letter-spacing: 0.5px;
        margin-bottom: 24px;
    }

    &__flex {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    &__button {
        color: #292F36;
        text-align: center;
        font-family: Jost;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 125%;
        /* 22.5px */
        letter-spacing: 0.36px;
        border-radius: 10px;
        background: #F4F0EC;
        padding: 9px 30px;
        border: none;
        gap: 10px;
        display: block;

        &:hover {
            background: #292F36;
            color: #FFF;
        }
    }
}

.input-hidden {
    position: absolute;
    top: -9999999px;
    visibility: hidden;
}