* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.site {
  font-family: "Jost", sans-serif;
  font-family: "DM Serif Display", serif;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top-header {
  padding-top: 53px;
  padding-bottom: 56px;
}
.top-header__wrapper {
  display: flex;
  justify-content: space-between;
}
.top-header__menu {
  display: flex;
  gap: 25px;
}
.top-header__link {
  color: #292F36;
  text-align: center;
  font-family: Jost;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}
.top-header__link:hover {
  color: #CDA274;
}

.banner__wrapper {
  background: url(../img/banner.png), lightgray 50%/cover no-repeat;
  background-position: center center;
  border-radius: 10%;
  padding-top: 208px;
  padding-bottom: 208px;
  padding-left: 52px;
}
.banner__info {
  width: 434px;
}
.banner__title {
  margin-bottom: 18px;
  color: #292F36;
  font-family: DM Serif Display;
  font-size: 65px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  /* 81.25px */
}
.banner__link {
  width: 240px;
  display: block;
  color: #FFF;
  text-align: center;
  font-family: Jost;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: 0.36px;
  margin-top: 21px;
  padding: 26px 49px 26px 48px;
  border-radius: 18px;
  background: #292F36;
  box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);
}
.banner__link svg {
  margin-left: 10px;
}
.banner__link:hover {
  background: #CDA274;
}
.banner__link:hover path {
  stroke: #292F36;
}

.text {
  text-align: center;
  color: #4D5053;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 33px */
  letter-spacing: 0.22px;
}

.subtitle {
  color: #292F36;
  text-align: center;
  font-family: DM Serif Display;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  /* 62.5px */
  letter-spacing: 1px;
}

.project__header {
  padding-top: 96px;
  padding-bottom: 93px;
}
.project__text {
  text-align: center;
}

.content {
  padding-bottom: 96px;
}
.content__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 104px;
       column-gap: 104px;
  row-gap: 56px;
}
.content__flex {
  padding-top: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.counter {
  background: #F4F0EC;
  padding-top: 151px;
  padding-bottom: 151px;
}
.counter__flex {
  display: flex;
  justify-content: space-between;
}
.counter__item {
  text-align: center;
}
.counter__heading {
  color: #CDA274;
  font-family: DM Serif Display;
  font-size: 85px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  /* 106.25px */
  letter-spacing: 1.7px;
}

.blog-header {
  padding-top: 96px;
  padding-bottom: 52px;
}

.blog {
  padding-bottom: 96px;
}
.blog__flex {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(382px, 1fr));
  -moz-column-gap: 27px;
       column-gap: 27px;
}
.blog__card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 62px;
  border: 1px solid #E7E7E7;
  box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
  padding: 21px;
}
.blog__img {
  border-radius: 62px 62px 0px 0;
}
.blog__link {
  position: absolute;
  left: 40px;
  bottom: 210px;
  color: #4D5053;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 24px */
  letter-spacing: 0.16px;
  text-transform: capitalize;
  padding: 6px;
  border-radius: 8px 8px 8px 0px;
  background: #FFF;
}
.blog__info {
  display: flex;
  align-items: end;
}
.blog__heading {
  margin-top: 21px;
  color: #292F36;
  font-family: DM Serif Display;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  /* 31.25px */
  letter-spacing: 0.5px;
}
.blog__text {
  margin-top: 30px;
  color: #4D5053;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 24px */
  letter-spacing: 0.16px;
  text-transform: capitalize;
}

.footer {
  padding-bottom: 134px;
}
.footer__flex {
  display: flex;
  justify-content: space-around;
  gap: 101px;
}
.footer__link {
  text-align: start;
  margin-top: 18px;
}
.footer__link:hover {
  color: #CDA274;
}
.footer__text {
  text-align: start;
  margin-top: 18px;
}
.footer__info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer__subscribe {
  margin-top: 30px;
}
.footer__subscribe svg {
  margin-right: 54px;
}

.bread-crumbs {
  background: url("../img/background_blog.jpg") no-repeat;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  min-height: 500px;
  margin-bottom: 200px;
}
.bread-crumbs__info {
  border-radius: 15px 15px 0 0;
  background: #fff;
  padding: 41px 78px;
  border: 1px solid #fff;
}

.latest__title {
  text-align: start;
  margin-bottom: 27px;
}
.latest__info {
  display: flex;
  gap: 60px;
  justify-content: space-around;
  align-items: center;
}
.latest__img {
  border-radius: 65px;
}
.latest__subtitle {
  margin-bottom: 22px;
  color: #292F36;
  font-family: DM Serif Display;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  /* 31.25px */
  letter-spacing: 0.5px;
}
.latest__text {
  text-align: start;
  margin-bottom: 41px;
}
.latest__flex {
  display: flex;
  align-items: end;
}

.news {
  padding-top: 150px;
  padding-bottom: 55px;
}
.news__title {
  text-align: start;
  margin-bottom: 30px;
}
.news__flex {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(305px, 1fr));
  -moz-column-gap: 28px;
       column-gap: 28px;
  row-gap: 30px;
}
.news__card {
  position: relative;
  border-radius: 62px;
  border: 1px solid #E7E7E7;
  box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
  padding: 21px;
}
.news__card:hover {
  background-color: #F4F0EC;
}
.news__card a svg circle {
  fill: white;
}
.news__img {
  border-radius: 62px 62px 0px 0;
}
.news__link {
  position: absolute;
  left: 46px;
  top: 248px;
  border-radius: 8px 8px 8px 0px;
  background: #FFF;
  padding: 8px 10px;
  color: #4D5053;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 24px */
  letter-spacing: 0.16px;
  text-transform: capitalize;
}
.news__info {
  display: flex;
  align-items: end;
}
.news__heading {
  margin-top: 21px;
  margin-bottom: 30px;
  color: #292F36;
  font-family: DM Serif Display;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  /* 31.25px */
  letter-spacing: 0.5px;
}
.news__text {
  color: #4D5053;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 24px */
  letter-spacing: 0.16px;
  text-transform: capitalize;
}

.blog-background {
  background: url("../img/back_details.jpg"), no-repeat;
  background-position: center center;
  padding-bottom: 350px;
}

.details__flex {
  display: flex;
  align-items: flex-start;
  padding-top: 150px;
  gap: 52px;
}
.details__content {
  width: 75%;
}
.details__tags {
  width: 25%;
}

.article {
  text-align: start;
}
.article__heading {
  color: #292F36;
  font-family: DM Serif Display;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  /* 62.5px */
  letter-spacing: 1px;
  margin-bottom: 11px;
}
.article__img {
  border-radius: 50px;
  margin-top: 11px;
  margin-bottom: 48px;
}
.article__text {
  color: #4D5053;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 24px */
  letter-spacing: 0.16px;
  text-transform: capitalize;
  margin-bottom: 48px;
}
.article__content {
  color: #4D5053;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 33px */
  letter-spacing: 0.22px;
  margin-bottom: 48px;
}

.tag__heading {
  color: #292F36;
  font-family: DM Serif Display;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  /* 31.25px */
  letter-spacing: 0.5px;
  margin-bottom: 24px;
}
.tag__flex {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.tag__button {
  color: #292F36;
  text-align: center;
  font-family: Jost;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  /* 22.5px */
  letter-spacing: 0.36px;
  border-radius: 10px;
  background: #F4F0EC;
  padding: 9px 30px;
  border: none;
  gap: 10px;
  display: block;
}
.tag__button:hover {
  background: #292F36;
  color: #FFF;
}

.input-hidden {
  position: absolute;
  top: -9999999px;
  visibility: hidden;
}/*# sourceMappingURL=style.css.map */